body{
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}	

#wrap{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

#content{
  display:flex;  
  /*align-items: center;*/
  justify-content: center;
  width: 80%;
  height: 100%;
}

#description{
  /*display: flex;*/
  width: 53%;
  box-sizing: border-box;
  padding: 4rem 5% 4rem 0;
  color:rgba(0,0,0,.77);
  margin-right: 3rem;
}

#description h1{
  line-height: 140%;
  letter-spacing: .03rem;
  color:hsla(222,41%,8%,.79);
  font-weight:400;
}

#description p{
  font-weight: 300;
  /*color:rgba(0,0,0,.77);*/
  color:hsla(222,41%,8%,.79);
  line-height: 150%
  letter-spacing: -0.02rem;
  margin-bottom: 1.8rem;
  font-size:1.2rem;
}

#description a,#description a:visited{
  color:hsla(222,41%,8%,.79);
  font-weight:200;
  text-underline-offset: 0.25rem;
}

#art{
  /*display: flex;*/
  width: 35%;
  box-shadow: 0 0 52px hsla(221,41%,19%,.08);
  /*flex:2;*/
}

#art img{
  width: 100%;
  object-fit: cover;
  display:block;
}

#footer{
  position:fixed;
  bottom:20px;
  text-transform:uppercase;
  color:hsla(222,41%,8%,.49);
  font-size:.8rem;
}

@media only screen and (max-width: 800px) {
  #content{
    display:block;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
  }
  #art{
    width: 100%;
  }
  #description{
    width: 100%;
    padding:0 0 2rem;
  }
  #description p{
    font-size:1.3rem;
  }
  #description h1{
    font-size:1.7rem;
  }
  #footer{
    display:none;
  }
}