@import url(material.css);

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

#wrap{
  max-width: 70vw; 
}
.mdl-grid .mdl-grid.mdl-grid--nesting {
  padding: 0;
  margin: 0 -8px;
}

@media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) {
    #wrap{
      max-width:100%;
    }
  }

li{
  margin-bottom:15px;
}


li li{
  margin-bottom:0;
}


.work-tags{

  color:#aaa;
  /*text-transform: uppercase;*/
  font-weight: 100;
  line-height: 2.4em;
  /*font-size: 2vh;*/
  padding: 0 15px 0 0;
  text-align: right;
  font-size: 1em;
  
}
.work-item{
  margin-bottom:2em;
  /*padding-bottom:1.5em;*/
  /*border-bottom:1px solid #aaa;*/
}

.work-item h4{
  font-size:1.4em;
  margin:0 0 0;
  /*line-height: 2.5vh;*/
}
.work-item h5{
  margin-bottom:12px;
}

.work-item p{
  font-size: 1.2em;
  line-height:1.7em;
  font-weight:100;
}

.work-carousel-item-portrait-mini{
  margin-bottom: 15px;
}

.divide{

    border-top: 1px solid #ddd;

}

@media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) {
    
    .work-tags{
      text-align:left;
    }
  }


.focused{
  min-height: 85vh;
}

.focused p{
  font-size: 3vh;
  line-height:5vh;
  font-weight:100;
}

.navbar{
  position:sticky;
  background:#fff;
  border-top: 2px solid #aaa;
  display: block;
}

.navbar a{
  display:inline-block;
  padding:10px 15px;
  transition: background .45s;
  background:#fff;
}

.navbar a:hover{
  /*font-weight:bold;*/
  color:#000;
  background:#ddd;
}

.navbar a.selected{
  font-weight:bold;
}

/* carousel */
.work-carousel{
  overflow-x: auto;
  width:100%;
}
.work-carousel-item{
  width:100%;
}

/* about */
.bio-pic{
  width:100%;
  max-width:300px;
  float: left;
  border:12px solid #fff;
  box-shadow: 0 0 12px -1px rgba(0,0,0,.12);
  margin: 0 20px 20px 0;
}

h1{
  margin-top:12px;
  margin-bottom:0;
}

header p:first-of-type{
  font-size:6.9vh;
  margin-bottom:5vh;
  line-height:105%;
  margin-top:50px;
  font-weight:100;
}

.offsite{
  background: rgb(0,0,0);
  display:inline-block;
  margin: 20px 5px 0 0;
  /*padding: 30px;*/
  border-radius:50%;
  height: 45px;
  width: 45px;
  text-indent:-1000;
  border:3px solid #fff;
}

.offsite:hover{
  border:3px solid rgb(64,196,255);
  /*box-shadow: 0 0 12px rgba(0,0,0,.25); */
}

.twitter{
  background: rgb(0,0,0) url(../images/twitter.svg) no-repeat 57% 55%;
  background-size: 55%;
}

.github{
  background: url(../images/github.svg) no-repeat 0 center;
  background-size: 100%;
  padding-left:2px;
}

.material-icons{
  vertical-align: middle;
  margin-top: -4px;
}