body{
  background:#111;
  font-family: 'EB Garamond', serif;
  margin:0;
  padding:0;
  color:#F2F2F2;
}

.description{
  width: 50%;
  padding: 4rem;
  box-sizing: border-box;
}

.animation{
  background:#222;
  width:50%;
  position: absolute;
  right:0;
  top:0;
  bottom:0;
}

.text{
  margin: 4rem 0;
  font-size: 2.5rem;
  box-sizing: border-box;
}

.subtext{
  margin: 4rem 0;
  font-size: 1.5rem;
  box-sizing: border-box;
  color:#bdbdbd;
}

a{
  color:#fff;
  font-weight: 500;
}