@import url(material.css);

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

#wrap{
	max-width: 60vw; 
}
.mdl-grid .mdl-grid.mdl-grid--nesting {
  padding: 0;
  margin: 0 -8px;
}

@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 667px) {
		#wrap{
			max-width:100%;
		}
	}

.work-tags{
	margin: .5em 0 1.5em;
	/*text-transform: uppercase;*/
	font-weight:400;
	/*line-height:.5em;*/
	font-size: 2vh;
	
}
.work-item{
	margin-bottom:3em;
	padding-bottom:2em;
	border-bottom:1px solid #aaa;
}

.work-item p{
	font-size:16px;
	font-weight:100;
}
.work-item h4{
	font-size:3vh;
	margin-bottom:0;
}
.work-item h5{
	margin-bottom:12px;
}

.work-item p{
	font-size: 2vh;
	line-height:3.5vh;
	font-weight:100;
}
.work-carousel-item-portrait-mini{
	margin-bottom: 15px;
}

@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 667px) {
		.work-carousel{
			margin: 0 !important;
		}
		.work-tags{
			text-align:center;
		}
		.work-item h4{
			text-align:center;	
		}
		#recognition h3,#about h3{
			text-align:center;		
		}
		.bio-pic{
			margin-right: 0;
		}
	}


.focused{
	min-height: 85vh;
}

.focused p{
	font-size: 3vh;
	line-height:5vh;
	font-weight:100;
}

.navbar{
	position:sticky;
	background:#fff;
	border-top: 2px solid #aaa;
	display: block;
}

.navbar a{
	display:inline-block;
	padding:10px 15px;
	transition: background .45s;
	background:#fff;
}

.navbar a:hover{
	/*font-weight:bold;*/
	color:#000;
	background:#ddd;
}

.navbar a.selected{
	font-weight:bold;
}

/* carousel */
.work-carousel{
	overflow-x: auto;
	width:100%;
}
.work-carousel-item{
	width:100%;
}

/* about */
.bio-pic{
	width:100%;
	max-width:300px;
	float: left;
	border:12px solid #fff;
	box-shadow: 0 0 12px -1px rgba(0,0,0,.12);
	margin: 0 20px 20px 0;
}

h1{
	margin-top:12px;
	margin-bottom:0;
}

header p:first-of-type{
	font-size:6.9vh;
	margin-bottom:5vh;
	line-height:105%;
	margin-top:50px;
	font-weight:100;
}

.offsite{
	background: rgb(0,0,0);
	display:inline-block;
	margin: 20px 5px 0 0;
	/*padding: 30px;*/
	border-radius:50%;
	height: 45px;
	width: 45px;
	text-indent:-1000;
	border:3px solid #fff;
}

.offsite:hover{
	border:3px solid rgb(64,196,255);
	/*box-shadow: 0 0 12px rgba(0,0,0,.25); */
}

.twitter{
	background: rgb(0,0,0) url(../images/twitter.svg) no-repeat 57% 55%;
	background-size: 55%;
}

.github{
	background: url(../images/github.svg) no-repeat 0 center;
	background-size: 100%;
	padding-left:2px;
}

.material-icons{
  vertical-align: middle;
  margin-top: -4px;
}